/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../../deps/ash_authentication_phoenix";
@source "../css";
@source "../js";
@source "../../lib/weakty_web";

@plugin "@tailwindcss/typography";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: all
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
    --color-base-100: oklch(20% 0.004 49.25);
    --color-base-200: oklch(25% 0.006 56.043);
    --color-base-300: oklch(30% 0.007 34.298);
    --color-base-content: #eeeeee;
    --color-primary: #61afef;
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: #c678dd;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #e5c07b;
    --color-accent-content: #e8e7ea;
    --color-neutral: #4b5263;
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #56b6c2;
    --color-info-content: #e8e7ea;
    --color-success: #98c379;
    --color-success-content: #111111;
    --color-warning: #d19a66;
    --color-warning-content: #091b2f;
    --color-error: #be5046;
    --color-error-content: #e8e7ea;
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
  
  }


@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";


    --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(96% 0.001 286.375);
  --color-base-content: oklch(20% 0 0);
    --color-primary: #0082ce;
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(83% 0.128 66.29);
    --color-secondary-content: oklch(40% 0.123 38.172);
    --color-accent: #e5c07b;
    --color-accent-content: #e8e7ea;
  --color-neutral: oklch(87% 0 0);
  --color-neutral-content: oklch(26% 0 0);

    --color-info: #56b6c2;
    --color-info-content: #e8e7ea;
    --color-success: #98c379;
    --color-success-content: #e8e7ea;
    --color-warning: #d19a66;
    --color-warning-content: #091b2f;
    --color-error: #be5046;
    --color-error-content: #e8e7ea;
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;





}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */

/* Dark Literary Typography */
@layer base {
  body {
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom font utility */
@utility averia {
  font-family: 'Averia Serif Libre', serif;
}

@utility input {
  &:focus {
    @apply outline-1 outline-base-content/50 outline-offset-0;
  }
}


@utility select {
  &:focus {
    @apply outline-1 outline-base-content/50 outline-offset-0;
  }
}

@utility prose {
    p {
      /* color: var(--color-base-content); */
    
    }
    blockquote {
      font-weight: 400;
      padding-inline-start: 2em;
      border-inline-start-color: var(--color-base-300);
      /* color: var(--color-base-content); */

      /* Tailwind prose overrides blockquote to be brighter). Don't want that */
      color: color-mix(in oklab, var(--color-base-content) 80%, #0000);
        /* Disable adding quote marks to block-quotes: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
        p {
            font-style: normal;
            &:first-of-type::before,
            &:last-of-type::after {
                content: none;
            }
            margin-bottom: 1em;
        }
    }
}

/* Typography overrides for prose */
@layer components {

}
