<div class="flex items-baseline gap-6 py-2 border-b border-base-200 last:border-0 min-w-0 text-sm">
  <a href="{{.URL}}" class="flex-1 min-w-0 truncate hover:underline transition-all {{ if .Current }}font-bold{{ end }}">{{.Title}}</a>
  {{ if .TypeLabel }}
  <span class="hidden md:flex opacity-50 tabular-nums flex-shrink-0 w-16 text-right capitalize">{{.TypeLabel}}</span>
  {{ end }}
  <time class="hidden md:flex opacity-50 tabular-nums flex-shrink-0 w-24 text-right">{{.PublishedAt}}</time>
</div>
