<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Serif:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/public_site/app.css">
<script>
  (function(){
    var mq = window.matchMedia('(prefers-color-scheme: dark)');
    function applyTheme() {
      document.documentElement.setAttribute('data-theme', mq.matches ? 'dark' : 'light');
    }
    applyTheme();
    mq.addEventListener('change', applyTheme);
  })();
</script>
